.signupbody {
    /*background-color: #f4f4f4; /* Light gray background color */
    background-image: url(./Assets/expense.jpeg);
    font-family: 'Arial', sans-serif; /* Change font family */
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .signup-container {
    max-width: 400px; /* Bigger form width */
    padding: 40px; /* Bigger form height */
    border: 1px solid #ccc; /* Lighter border color */
    border-radius: 15px; /* Larger border radius */
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Slightly larger box shadow */
    /*background-color: #e5dee1; /* White background color */
    backdrop-filter: blur(30px);
  }
  
  h2 {
    color: #333; /* Dark text color */
    font-size: 28px; /* Larger font size */
  }
  
  .input-group {
    margin-top: 20px; /* Increased margin */
  }
  
  .user {
    width: calc(100% - 24px);
    padding: 12px; /* Increased padding */
    margin-bottom: 20px; /* Increased margin */
    border: 1px solid #ccc;
    border-radius: 8px; /* Rounded corners */
    box-sizing: border-box;
    font-size: 16px; /* Larger font size */
    color: #333; /* Darker text color */
    transition: border-color 0.3s ease-in-out;
  }
  
  .user:focus {
    outline: none;
    border-color: #007bff; 
  }
  
  .user::placeholder {
    color: #999;
    font-style: italic; 
  }
  
  .button-group {
    margin-top: 20px; /* Increased margin */
  }
  
  button.signup {
    height: 45px; /* Increased height */
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px; /* Larger font size */
    transition: background-color 0.3s ease-in-out;
  }
  
  button.signup:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  